In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

In [2]:
# book_List = pd.read_excel("C:/Test1.0_30p.xlsx")
book_List = pd.read_csv("C:/k-디지털 프로젝트/2-Project/데이터/최종 백데이터/End_data.csv")
book_List.head(1)

C:\Users\User\AppData\Local\Temp\ipykernel_26368\3942409410.py:2: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  book_List = pd.read_csv("C:/k-디지털 프로젝트/2-Project/데이터/최종 백데이터/End_data.csv")

,ISBN_THIRTEEN_NO,BOOK_TITLE_NM,AUTHR_NM,BOOK_INTRCN_CN,PBLICTE_DE,AGE_FLAG_NM,SEXDSTN_FLAG_NM,KDC_NM,Yes24_Price,Yes24_Score,Yes24_Review
0,9791130620893,돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업,"김종봉, 제갈현열 (지은이)","사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...",2019,40대,NaN,NaN,-1.0,9.22,413.0

In [3]:
book_List.shape

(532745, 11)

In [4]:
# 주요 컬럼으로 데이터 프레임 생성
col_lst = ['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','AUTHR_NM','BOOK_INTRCN_CN','PBLICTE_DE','AGE_FLAG_NM','SEXDSTN_FLAG_NM','KDC_NM','Yes24_Price', 'Yes24_Score','Yes24_Review']
book_List_df = book_List[col_lst]

In [5]:
# '나이'를 기반으로 'Age_Code' 컬럼 생성
def map_age_code(AGE_FLAG_NM):
    if AGE_FLAG_NM in ['영유아', '유아']:
        return 1
    elif AGE_FLAG_NM == '초등':
        return 2
    elif AGE_FLAG_NM == '청소년':
        return 3
    elif AGE_FLAG_NM == '20대':
        return 4
    elif AGE_FLAG_NM == '30대':
        return 5
    elif AGE_FLAG_NM == '40대':
        return 6
    elif AGE_FLAG_NM == '50대':
        return 7
    elif AGE_FLAG_NM == '60대이상':
        return 8
    else:
        return None  # 예외 처리: 다른 값이 들어오면 None 반환

# 'Age_Code' 컬럼 추가
book_List_df['Age_Code'] = book_List_df['AGE_FLAG_NM'].apply(map_age_code)


# '성별'를 기반으로 'Sex_Code' 컬럼 생성
def map_sex_code(SEXDSTN_FLAG_NM):
    if SEXDSTN_FLAG_NM == '남성':
        return 1
    elif SEXDSTN_FLAG_NM == '여성':
        return 2
    else:
        return None  # 예외 처리: 다른 값이 들어오면 None 반환

# 'Age_Code' 컬럼 추가
book_List_df['Sex_Code'] = book_List_df['SEXDSTN_FLAG_NM'].apply(map_sex_code)

In [10]:
import pandas as pd

# 'Yes24_Price', 'Yes24_Score', 'Yes24_Review' 컬럼 이름 변경
book_List_df.rename(columns={'Yes24_Price': 'avg_price', 'Yes24_Score': 'avg_Score', 'Yes24_Review': 'Review_Sum'}, inplace=True)

# 결과 확인
print(book_List_df.head())

  ISBN_THIRTEEN_NO                      BOOK_TITLE_NM         AUTHR_NM  \
0    9791130620893  돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업  김종봉, 제갈현열 (지은이)
1    9791130620893  돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업  김종봉, 제갈현열 (지은이)
2    9791130620893  돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업  김종봉, 제갈현열 (지은이)
3    9791130620893  돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업  김종봉, 제갈현열 (지은이)
4    9791130620893  돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업  김종봉, 제갈현열 (지은이)

                                      BOOK_INTRCN_CN PBLICTE_DE AGE_FLAG_NM  \
0  사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...       2019         40대
1  사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...       2019         20대
2  사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...       2019         30대
3  사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...       2019         NaN
4  사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...       2019         20대

  SEXDSTN_FLAG_NM KDC_NM  avg_price  avg_Score  Review_Sum  Age_Code  Sex_Code
0             NaN    NaN       -1.0       9.22       413.0       6.0       NaN
1             NaN    NaN       -1.0       9.22       413.0       4.0       NaN
2             NaN    NaN       -1.0       9.22       413.0       5.0       NaN
3             NaN    NaN       -1.0       9.22       413.0       NaN       NaN
4              여성    NaN       -1.0       9.22       413.0       4.0       2.0

In [12]:
# 주요 컬럼으로 데이터 프레임 생성
# New column = Age_Code, avg_price, avg_Score, Sale_Sum
col_lst = ['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','AUTHR_NM','Age_Code','Sex_Code','BOOK_INTRCN_CN','PBLICTE_DE','KDC_NM','avg_price','avg_Score','Review_Sum']
book_List_df_Avg = book_List_df[col_lst]

book_List_df_Avg.head(1)

,ISBN_THIRTEEN_NO,BOOK_TITLE_NM,AUTHR_NM,Age_Code,Sex_Code,BOOK_INTRCN_CN,PBLICTE_DE,KDC_NM,avg_price,avg_Score,Review_Sum
0,9791130620893,돈 공부는 처음이라 - 0원부터 시작하는 난생처음 부자 수업,"김종봉, 제갈현열 (지은이)",6.0,NaN,"사람들이 잘못 알고 있는 돈에 대한 상식을 짚어주고, 잘못된 상식으로 지금까지 돈 ...",2019,NaN,-1.0,9.22,413.0

In [21]:

book_List_df_Avg = book_List_df_Avg[['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','AUTHR_NM','Age_Code','Sex_Code','BOOK_INTRCN_CN','PBLICTE_DE','KDC_NM','avg_price','avg_Score','Review_Sum']].drop_duplicates()

In [22]:
book_List_df_Avg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386890 entries, 0 to 532744
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ISBN_THIRTEEN_NO  386890 non-null  object
 1   BOOK_TITLE_NM     385483 non-null  object
 2   AUTHR_NM          384080 non-null  object
 3   Age_Code          179747 non-null  float64
 4   Sex_Code          245020 non-null  float64
 5   BOOK_INTRCN_CN    345062 non-null  object
 6   PBLICTE_DE        383285 non-null  object
 7   KDC_NM            293942 non-null  object
 8   avg_price         232749 non-null  float64
 9   avg_Score         232749 non-null  float64
 10  Review_Sum        232749 non-null  float64
dtypes: float64(5), object(6)
memory usage: 35.4+ MB

In [23]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import csr_matrix
from konlpy.tag import Okt
import re

# 장르별
book_List_df_Avg['genres_literal'] = book_List_df_Avg['KDC_NM'].astype(str)

# 책 재목
book_List_df_Avg['title_literal'] = book_List_df_Avg['BOOK_TITLE_NM'].astype(str)

# 책 줄거리 내용 
# book_List_df_Avg['book_intrcn_literal'] = book_List_df_Avg['BOOK_INTRCN_CN'].astype(str)
# 이 코드는 주어진 텍스트 데이터에 대해 불용어 제거, 특수 문자 제거, 형태소 분석 등을 수행하여 텍스트 데이터를 정제하는 과정 포함
# 한글 형태소 분석기 초기화
okt = Okt()

def preprocess_text(text):
    if pd.isnull(text):
        return ''  # Return empty string for NaN values
    else:
        # 불용어 제거
        stop_words = ['는', '은', '이', '가', '을', '를', '의', '에서', '에게', '에', '으로', '로']
        words = [word for word in okt.morphs(text) if word not in stop_words]

        # 특수 문자 제거
        words = [re.sub(r'[^a-zA-Z가-힣0-9]', ' ', word) for word in words]

        # 형태소 분석
        words = [okt.morphs(word) for word in words]

        # 공백 제거 및 단어 재조합
        words = [' '.join(word) for word in words]

        return ' '.join(words)

# 텍스트 데이터에 전처리 적용
book_List_df_Avg['book_intrcn_literal'] = book_List_df_Avg['BOOK_INTRCN_CN'].apply(preprocess_text)

# Concatenate 'title_literal' with 'genres_literal' and 'book_intrcn_literal'
book_List_df_Avg['combined_features'] = (
    book_List_df_Avg['genres_literal'] + ' ' +
    book_List_df_Avg['book_intrcn_literal'] + ' ' +
    book_List_df_Avg['title_literal']
)

# CountVectorizer를 이용한 장르 유사도 계산
count_vect = CountVectorizer(min_df=1, ngram_range=(1, 2))
genre_mat_dense = count_vect.fit_transform(book_List_df_Avg['combined_features'])

# Convert dense matrix to sparse matrix
genre_mat = csr_matrix(genre_mat_dense)

# 코사인 유사도 계산 (희소 행렬 직접 사용)
genre_sim = cosine_similarity(genre_mat, dense_output=False)

# 선택한 책에 대한 유사도만을 추출할 책의 인덱스 설정
title_index = 0

# 선택한 책 대한 유사도만을 추출
selected_book_similarity = genre_sim[title_index, :].reshape(-1, 1)

# Choose a lower dimensionality
n_components = 30

# Apply TruncatedSVD to reduce dimensionality
svd = TruncatedSVD(n_components=n_components)
genre_mat_reduced = svd.fit_transform(genre_mat)

# Compute cosine similarity on the reduced matrix
genre_sim_reduced = cosine_similarity(genre_mat_reduced, dense_output=False)

# 선택한 책에 대한 유사도만을 추출
selected_book_similarity_reduced = genre_sim_reduced[title_index, :].reshape(-1, 1)

In [45]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

def calculate_intrcn_similarity(df):
    df['BOOK_INTRCN_CN'].fillna('', inplace=True)
    count_vectorizer = CountVectorizer(stop_words='english')
    intrcn_matrix = count_vectorizer.fit_transform(df['BOOK_INTRCN_CN'])
    intrcn_sim = cosine_similarity(intrcn_matrix, intrcn_matrix)
    return intrcn_sim

def normalize_feature(feature):
    return (feature - feature.min()) / (feature.max() - feature.min())

def find_sim_movie(df, sim_matrix, title_isbn, top_n):
    title_book = df[df['ISBN_THIRTEEN_NO'] == title_isbn]

    if title_book.empty:
        print(f"No book found with ISBN {title_isbn}")
        return pd.DataFrame()

    title_index = title_book.index.values[0]
    
    df["similarity"] = sim_matrix[title_index].toarray().flatten()

    df = df[df["avg_Score"] != -1]

    df["normalized_score"] = normalize_feature(df["avg_Score"])
    df["normalized_price"] = 1 - normalize_feature(df["avg_price"])
    df["normalized_Sale"] = normalize_feature(df["Sale_Sum"])

    intrcn_sim = calculate_intrcn_similarity(df)
    df["intrcn_similarity"] = intrcn_sim[title_index]

    df["combined_similarity"] = (
        df["similarity"] +
        0.1 * df["normalized_score"] + # 별점
        0.1 * df["normalized_price"] + # 가격
        0.3 * df["normalized_Sale"] +  # 리뷰 수
        0.5 * df["intrcn_similarity"] # 제목, 장르, 책줄거리
    )

    temp = df.sort_values(by=["combined_similarity", "Sale_Sum"], ascending=[False, False])
    temp = temp.drop_duplicates(subset=['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','Sex_Code','AUTHR_NM','BOOK_INTRCN_CN','PBLICTE_DE','KDC_NM','Sale_Sum'])

    # 해당 문자열 자르기는 추출된 값을 보기 좋게하기위해 작성된 코드 
    # 지워도 무관함
    temp['BOOK_TITLE_NM'] = temp['BOOK_TITLE_NM'].str[:15]
    temp['AUTHR_NM'] = temp['AUTHR_NM'].str[:25]
    temp['BOOK_INTRCN_CN'] = temp['BOOK_INTRCN_CN'].str[:15]

    final_index = temp.index.values[:min(top_n, len(temp))]

    return temp.iloc[:top_n] if len(temp) >= top_n else temp

similar_books = find_sim_movie(book_List_df.copy(), genre_sim, 9788933870792, 15)

In [47]:
from tabulate import tabulate

# 중복된 행 제거
unique_similar_books = similar_books.drop_duplicates(subset=['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','Sex_Code','AUTHR_NM','KDC_NM','avg_price','avg_Score','Sale_Sum','intrcn_similarity'])

# 결과 출력
print("남성에게 추천하는 책:")
print(tabulate(unique_similar_books[unique_similar_books['Sex_Code'] == 1][['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','Sex_Code','AUTHR_NM','KDC_NM','avg_price','avg_Score','Sale_Sum','intrcn_similarity']],
               headers='keys', tablefmt='psql', showindex=False, numalign="center", stralign="center", colalign=("center",)*7))

print("\n여성에게 추천하는 책:")
print(tabulate(unique_similar_books[unique_similar_books['Sex_Code'] == 2][['ISBN_THIRTEEN_NO','BOOK_TITLE_NM','Sex_Code','AUTHR_NM','KDC_NM','avg_price','avg_Score','Sale_Sum','intrcn_similarity']],
               headers='keys', tablefmt='psql', showindex=False, numalign="center", stralign="center", colalign=("center",)*7))

남성에게 추천하는 책:
+--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------+
|  ISBN_THIRTEEN_NO  |       BOOK_TITLE_NM        |  Sex_Code  |           AUTHR_NM            |  KDC_NM  |  avg_price  |  avg_Score  |  Sale_Sum  |  intrcn_similarity  |
|--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------|
|   9788933870792    | (설민석의) 삼국지 :누구나  |     1      |        지은이: 설민석         |  823.5   |    19800    |    9.485    |   33868    |          1          |
|   9788933870839    | (설민석의) 삼국지 :누구나  |     1      |        지은이: 설민석         |  823.5   |    19800    |    9.575    |   29813    |      0.835269       |
|   9791188331796    |  돈의 속성 :최상위 부자가  |     1      |        지은이: 김승호         |  327.04  |    16020    |    9.51     |   355408   |          0          |
|   9791130604626    | 이토록 공부가 재미있어지는 |     1      |          박성혁 지음          |   373    |    16200    |    9.635    |   287659   |          0          |
|   9791187142560    |   데일 카네기 인간관계론   |     1      | 데일 카네기 지음 ;임상훈 옮김 |  331.18  |    10350    |    9.505    |   286552   |          0          |
+--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------+

여성에게 추천하는 책:
+--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------+
|  ISBN_THIRTEEN_NO  |       BOOK_TITLE_NM        |  Sex_Code  |           AUTHR_NM            |  KDC_NM  |  avg_price  |  avg_Score  |  Sale_Sum  |  intrcn_similarity  |
|--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------|
|   9788933870792    | (설민석의) 삼국지 :누구나  |     2      |        지은이: 설민석         |  823.5   |    19800    |    9.485    |   33868    |          1          |
|   9788933870839    | (설민석의) 삼국지 :누구나  |     2      |        지은이: 설민석         |  823.5   |    19800    |    9.575    |   29813    |      0.835269       |
|   9791188331796    |  돈의 속성 :최상위 부자가  |     2      |        지은이: 김승호         |  327.04  |    16020    |    9.51     |   355408   |          0          |
|   9791130604626    | 이토록 공부가 재미있어지는 |     2      |          박성혁 지음          |   373    |    16200    |    9.635    |   287659   |          0          |
|   9791187142560    |   데일 카네기 인간관계론   |     2      | 데일 카네기 지음 ;임상훈 옮김 |  331.18  |    10350    |    9.505    |   286552   |          0          |
+--------------------+----------------------------+------------+-------------------------------+----------+-------------+-------------+------------+---------------------+